* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px 10%;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
  color: white;
}
h3{
  text-transform: capitalize;
}
p{
  padding: 10px 0px;
}
.cover {
  position: relative;
  font-family: Arial;
  overflow: hidden;
}

.cover img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.cover .text-block {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
z-index: 2;
padding-left: 10%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  padding: 10px 0px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  transition: 0.3s;
  padding: 10px;
  cursor: pointer;
}

.navbar li a:hover {
  color: rgb(129, 129, 204);
  background-color: white;
}
.main{
  display: flex;
  flex-direction: row;
  gap: 5%;
  color: white;
  padding: 70px 0px;
}
.main .col1{
  flex-basis: 30%;
  
}

.main .col1 .menu,
.main .col2 .box1{
  margin-bottom: 40px;
}
.main .col2{
  flex-basis: 65%;
}
.main .col2 .box1 p {
  border-top: 1px solid white;
}
.main .col2 .sub-col2{
display: grid;
grid-template-columns: 1fr 1fr;
}
.main .col2 .box2{
  padding-right: 15px;
}
.main .col2 .box3{
  border-left: 1px solid white;
  padding-left: 15px;
}
.form{
  color: white;
display: flex;
flex-direction: row;
gap: 50px;
padding: 20px;
border: 1px solid white;
}
.form .inp {
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 20px;
text-align: center;
margin-bottom: 20px;
}
.form .inp label{
  min-width: 100px;
  padding: 10px 0px;
}
.form .inp input,
.form .inp textarea{
  width: 500px;
  padding: 10px;
}
.form .col2 .radio-inp{
  margin-bottom: 10px;
  font-size: 20px;
}
.form .col2 button{
  padding: 10px 30px;
  background-color: white;
  color: black;
  margin-top: 50px;
border: none;
}
footer{
  margin-top: 50px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: end;
  padding: 10px ;
}